

.admin-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* height: 100vh; */
    margin-bottom: 50px;
    border-radius: 15px !important;
    overflow: hidden;
}

.side-nav {
    max-width: 25%;
    flex: 0 0 25%;
    background-color: #1e038b;
    padding: 20px;
}

.side-nav-link.brand-logo {
    font-size: 35px;
    margin-bottom: 50px;
}

.side-nav .side-nav-link{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}
.side-nav .side-nav-link .icon{
    width: 35px;
}

.admin-item {
    max-width: 75%;
    flex: 0 0 75%;
}

/* Responsive css */

@media (max-width: 991px){
    .side-nav {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .admin-item {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (max-width: 575px){
    .side-nav {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .admin-item {
        max-width: 100%;
        flex: 0 0 100%;
    }
}