
.checkout .table-title {
    margin-bottom: 20px;
}

.checkout .table {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px lightgrey;
}

.checkout .table .table-head {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.checkout .table .table-data {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

.checkout .checkout-btn{
    text-align: right;
}