
.add-product-title{
    background-color: #6946F4;
    color: white;
    padding: 20px;
    margin: 0;
}
.add-product-container .save-btn {
    width: 200px;
    padding: 10px 30px;
}
.add-product-container .from-box {
    background-color: #c7fdfd;
    padding: 20px;
}
.add-product-box{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px #2802d45d;
}

/* Responsive css */

@media (max-width: 575px){
    .add-product-container label{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .add-product-container .save-btn-box{
        text-align: center !important;
    }
}